/* &__name -> elemento  &--name --> modificador de elemento*/
.row {
  @mixin clearfix;

  &--t-padding {
    padding-top: 80px;
  }
  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  /*all of the columns*/
  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

/* usado para poner un margen debajo de la imagen de penny y arriba del texto (solo para smartphone)*/
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }


  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-4-larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8-smaller {
      width: 63%;
    }

  }

  @mixin atLarge {

    &__b-margin-until-large{
      margin-bottom: 0;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-4-larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8-smaller {
      width: 63%;
    }

  }

  /*Begin Equal Height Rules*/
  &--equal-height-at-medium { /*el contenedor de la fila*/
    @mixin atMedium {
      display: flex;
    }
    /*this will select the columns*/
    & > div { /*row__equal-height-at-medium > div*/
       /*stop being floated and start being flex so it adapts to the size of the larger*/
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge{
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
