.wrapper {
  overflow: hidden;
  /*espacio entre el contenido y el contenedor*/
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  /*el margin lo usamos para que el contenedor quede bien centrado en su contenedor superior (la pagina)*/
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
    /*la imagen tiene un tamaño fijo y si es menor al contenedor se acomoda a la izquierda
    porque lo que está centrado es el contenedor. Al reducir el contenedor la imagen ocupa todo su espacio
    y al centrarse el contenedor con el margin auto, la imagen queda en el centro*/
  }
/*utilizada para centar el texto del modal*/
  &--narrow {
    max-width: 470px;
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      /*espacio entre el contenido y el contenedor*/
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
      /*espacio entre el contenido y el contenedor*/
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  /*any wrapper inside another wrapper will have padding left/right 0*/
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }
}
